<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Generale">
        <setting label="Impostazioni generali" type="lsep"/>
        <setting id="player_type" type="enum" values="Auto|MPlayer|DVDPlayer" label="30000" default="2"/>
        <setting id="player_mode" type="enum" values="Direct|SetResolvedUrl|Built-In|Download and Play" label="30044" default="0"/>
        <setting id="default_action" type="enum" lvalues="30006|30007|30008" label="30005" default="0"/>
        <setting id="thumbnail_type" type="enum" lvalues="30011|30012|30200" label="30010" default="2"/>
        <setting id="channel_language" type="labelenum" values="all|es|en|it" label="30019" default="all"/>
        <setting id="forceview" type="bool" label="30043" default="false"/>
        <setting id="debug" type="bool" label="30003" default="false"/>
		
        <setting label="Utilizzo dei server" type="lsep"/>
        <setting id="resolve_priority" type="enum" label="Metodo priorità" values="Free prima|Premium prima|Debriders prima" default="0"/>
        <setting id="resolve_stop" type="bool" label="Smettere di cercare quando si trova un'opzione" default="true"/>
        <setting id="hidepremium" type="bool" label="Nascondi i server a pagamento senza account" default="true"/>
        <setting type="sep"/>
        
        <setting type="sep"/>
        <setting label="Aggiornamenti" type="lsep"/>
        <setting id="plugin_updates_available" type="number" label="Number of updates available" default="0" visible="false"/>
        <setting id="check_for_plugin_updates" type="bool" label="30001" default="true"/>
        <setting id="check_for_channel_updates" type="bool" label="30004" default="false" visible="false"/>
        <setting id="plugin_version_number" type="number" label="Plugin version number" default="5800" visible="false"/>
        <setting id="plugin_version_tag" type="text" label="Plugin version tag" default="5.8.0" visible="false"/>
        <setting id="channels_version_number" type="number" label="Channels version number" default="20170101" visible="false"/>
        <setting id="servers_version_number" type="number" label="Channels version number" default="20170101" visible="false"/>
    </category>

    <!-- Login -->
    <category label="Ricerca">
		<setting label="Ricerca" type="lsep"/>
        <setting id="scrapedtmdb" type="bool" label="Ricerca copertine e trame durante la ricerca globale" default="true" visible="true"/>
        <setting id="findlinks" type="bool" label="Ricerca direttamente link finali" default="false" visible="true"/>		
		<setting type="sep"/>	
		
		<setting label="Opzioni avanzate" type="lsep"/>
		<setting id="abilita_avanzate" type="bool" label="Abilita opzioni avanzate" default="false"/>
        <setting id="timeout" type="number" label="Timeout (secondi)" default="75" enable="eq(-1,true)"/>
        <setting id="maxthreads" type="number" label="Ricerca simultanea (numero threads)" default="16" enable="eq(-2,true)"/>
    </category>

    <!-- Path downloads and subtitles -->
    <category label="Libreria">
		<setting label="Percorso e cartelle" type="lsep"/>
        <setting id="librarypath" type="folder" label="Percorso libreria" default=""/>
        <setting id="folder_movies" type="text" label="Cartella Film" default="CINE"/>
        <setting id="folder_tvshows" type="text" label="Cartella Serie TV" default="SERIES"/>

		<setting label="Libreria Kodi" type="lsep"/>
        <setting id="library_set_content" type="bool" label="Aggiungi Serie TV e Film alla libreria di Kodi" default="false"/>
        <setting id="library_ask_set_content" type="bool" label="" default="true" visible="false"/>
    </category>

    <category label="Altro">
        <setting label="Filtri server" type="lsep"/>
        <setting id="filter_servers" type="bool" label="Abilita filtri server" default="false"/>
        <setting id="whitelist" type="text" label="30069" enable="eq(-1,true)" default=""/>
        <setting id="blacklist" type="text" label="30070" enable="eq(-2,true)" default=""/>
        <setting id="note" type="text" label="(utilizzare '','' come separatore per inserire più server)"/>

        <setting label="Menu contestuale informazioni Film e Serie TV" type="lsep"/>
        <setting id="infoplus" type="bool" label="Mostra opzioni Infoplus" default="true"/>
        <setting id="extended_info" type="bool" label="Mostra opzioni ExtendedInfo (necessario addon esterno)" default="false"/>
    </category>
</settings>
